Repository wp-cli/doctor-command, pull requests merged in 2024-07, with the labels that each got.

#190 Add missing behat.yml file and update feature tests
  .github/workflows/testing.yml
  behat.yml
  composer.json
  features/check-autoload-options-size.feature
  features/check-core-update.feature
  features/check-file-contents.feature
  features/check-language-update.feature
  features/check-plugin-active-count.feature
  features/check-plugin-deactivated.feature
  features/check-theme-update.feature
  features/check.feature
  features/config.feature
Labels: scope:testing

#188 Add option to filter check results
  features/check.feature
  inc/class-command.php
Labels: command:doctor, command:doctor-check

#191 Add list of files to report of 'wp doctor check cache-flush' command
  features/check-cache-flush.feature
  inc/checks/class-cache-flush.php
Labels: command:doctor, command:doctor-check

#194 Update architecture to adapt package structure
  bin/readme/installing-body.md
  command.php
  composer.json
  doctor-command.php
  features/check-autoload-options-size.feature
  features/check-constant-definition.feature
  features/check-plugin-active-count.feature
  features/check-plugin-deactivated.feature
  features/check-plugin-status.feature
  features/config.feature
  phpcs.xml.dist
  src/Check.php
  src/Check/Autoload_Options_Size.php
  src/Check/Cache_Flush.php
  src/Check/Constant_Definition.php
  src/Check/Core_Update.php
  src/Check/Core_Verify_Checksums.php
  src/Check/Cron.php
  src/Check/Cron_Count.php
  src/Check/Cron_Duplicates.php
  src/Check/File.php
  src/Check/File_Contents.php
  src/Check/File_Type.php
  src/Check/Language_Update.php
  src/Check/Option_Value.php
  src/Check/PHP_In_Upload.php
  src/Check/Plugin.php
  src/Check/Plugin_Active_Count.php
  src/Check/Plugin_Deactivated.php
  src/Check/Plugin_Status.php
  src/Check/Plugin_Update.php
  src/Check/Theme_Update.php
  src/Checks.php
  src/Command.php
  src/Exception.php
  wp-cli.yml
Labels: command:doctor, scope:testing, scope:distribution
